body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
    color: #1f150b;
 
}

h2 {
    color: #1f150b;
}

header h2 {
    color: #1f150b;
}

.site-footer{
    background-image: linear-gradient(to bottom, #ffcc99 0%, #663300 100%);
    padding: 20px 0px;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to top, #ffcc99 0%, #663300 100%);
    color: white;
}

.row-content {
    padding: 50px 4;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #ff8000;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #ff8000;
}

